Repository Jamie-BitFlight/git-tree-project-structure-to-yaml: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-markdown-check, local-biome-check

local-markdown-check:
  name: markdown check
  entry: bunx -y markdownlint-cli -d -f -c .markdownlint.json
  language: system

local-biome-check:
  name: biome check
  entry: bunx -y @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

feat: add AI-assisted brownfield modernization checklist and Claude orchestration
  .claude/agents/architecture-analyzer.md
  .claude/agents/dependency-mapper.md
  .claude/agents/documentation-generator.md
  .claude/agents/technical-debt-assessor.md
  .claude/agents/test-coverage-improver.md
  .claude/commands/modernize.md
  .claude/hooks/session-start.sh
  .claude/hooks/validate-checkpoint.sh
  .claude/scripts/init-checkpoint.sh
  .claude/scripts/update-checkpoint.sh
  .claude/settings.json
  .claude/skills/brownfield-modernization/CHECKPOINT_SCHEMA.md
  .claude/skills/brownfield-modernization/PHASES.md
  .claude/skills/brownfield-modernization/SKILL.md
  docs/AI_ASSISTED_BROWNFIELD_MODERNIZATION_CHECKLIST.md
Due: local-markdown-check, local-biome-check

chore: initialize brownfield modernization checkpoint
  MODERNIZATION_CHECKPOINT.md
Due: local-markdown-check

feat: complete Phase 1 brownfield modernization analysis
  MODERNIZATION_CHECKPOINT.md
  docs/architecture/current-state.md
  docs/architecture/dependency-graph.md
  docs/dependencies/inventory.md
  docs/dependencies/upgrade-plan.md
  docs/technical-debt/inventory.md
  docs/technical-debt/prioritized-backlog.md
Due: local-markdown-check

style: apply ruff auto-formatting improvements
  src/git_tree_project_structure_to_yaml/__init__.py
  src/git_tree_project_structure_to_yaml/_cli.py
  tests/cli/test_yaml_tree.py
Due: none

feat: complete brownfield modernization phases 2 & 3
  MODERNIZATION_CHECKPOINT.md
  docs/architecture/current-state.md
  docs/architecture/dependency-graph.md
  pyproject.toml
  src/git_tree_project_structure_to_yaml/_cli.py
  tests/cli/test_yaml_tree.py
  uv.lock
Due: local-markdown-check

feat: complete extended modernization - module split & dependency upgrades
  MODERNIZATION_CHECKPOINT.md
  pyproject.toml
  src/git_tree_project_structure_to_yaml/_cli.py
  src/git_tree_project_structure_to_yaml/formatters.py
  src/git_tree_project_structure_to_yaml/tree.py
  src/git_tree_project_structure_to_yaml/types.py
  src/git_tree_project_structure_to_yaml/utils.py
  src/git_tree_project_structure_to_yaml/validators.py
  tests/cli/test_yaml_tree.py
  uv.lock
Due: local-markdown-check

fix: remove unnecessary suppressions and run pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  src/git_tree_project_structure_to_yaml/__init__.py
  src/git_tree_project_structure_to_yaml/_cli.py
  src/git_tree_project_structure_to_yaml/formatters.py
  src/git_tree_project_structure_to_yaml/tree.py
  src/git_tree_project_structure_to_yaml/types.py
  src/git_tree_project_structure_to_yaml/utils.py
  src/git_tree_project_structure_to_yaml/validators.py
  tests/cli/test_yaml_tree.py
Due: none

chore: update modernization checkpoint - quality enforcement complete
  MODERNIZATION_CHECKPOINT.md
Due: local-markdown-check

fix: use tmp_path fixture for cross-platform test compatibility
  tests/cli/test_yaml_tree.py
Due: none

fix: update CI to test Python 3.12+ only (match requires-python)
  .github/workflows/test.yaml
Due: none

chore: update modernization checkpoint - CI fixes session 4
  MODERNIZATION_CHECKPOINT.md
Due: local-markdown-check

fix: use UTF-8 encoding for file output on Windows
  src/git_tree_project_structure_to_yaml/_cli.py
Due: none

chore: update checkpoint - UTF-8 encoding fix for Windows
  MODERNIZATION_CHECKPOINT.md
Due: local-markdown-check

Path conditions:
  local-markdown-check: any of: \.(md|MD|markdown)$
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
